<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Toolbox</title>
</head>
<body>
   <%- include("../partials/_navbar.ejs") %>

   <h1><%= tool.name %></h1>
  
   <% if (tool.description) { %>
      <p><%= tool.description %></p>
   <% } else { %>
      <p><em>No description available</em></p>
   <% } %>

   <% if (tool.link) { %>
      <p>
         <a href="<%= tool.link %>" target="_blank">
            Visit Link
         </a>
      </p>
   <% } %>

   <% if (tool.reference) { %>
      <a href="<%= tool.reference %>" target="_blank">
         Reference</a>
   <% } %>


</body>
</html>