<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toolbox</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %>

    <h1><%= userTool.tool.name %></h1>

    <% if (userTool.tool.description) { %>
    <p><%= userTool.tool.description %></p>
    <% } else { %>
    <p><em>No description available</em></p>
    <% } %> 
    
    <% if (userTool.tool.link) { %>
    <p>
      <a href="<%= userTool.tool.link %>" target="_blank">More Info</a>
    </p>
    <% } %> 
    
    <% if (userTool.tool.reference) { %>
    <a href="<%= userTool.tool.reference %>" target="_blank">Reference</a>
    <% } %>

    <% if (userTool.note) { %>
      <p>Notes: <%= userTool.note %></p>
      <% } %>

      <!-- edit button -->
      <a href="/toolbox/<%= userTool._id %>/edit">Edit Tool</a>
 <!-- add delete button -->
 <a href="/toolbox/<%= userTool._id %>/delete">Delete Tool</a>

  </body>
</html>
